beautifulsoup4==4.12.3
evaluate==0.4.2
nltk==3.8.1
numpy==2.0.0
ollama==0.2.1
pandas==2.2.2
Pillow==10.4.0
plotly==5.22.0
Requests==2.32.3
safetensors==0.4.3
scikit_learn==1.5.1
streamlit==1.36.0
torch==2.3.0
