langchain
langchain_community
streamlit~=1.36.0

ollama~=0.2.0
datasets~=2.19.2

requests~=2.32.3
pandas~=2.2.2
beautifulsoup4~=4.12.3
nltk~=3.8.1

numpy~=1.26.4
plotly~=5.22.0
evaluate~=0.4.2
scikit-learn~=1.5.0
torch~=2.3.0
matplotlib~=3.9.0
